.sidebar-nav ul li {
  margin: 10px 0px;
}
nav{
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sidebar-nav ul li a {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 4px;
}
.sidebar-nav .offcanvas {
  width: auto;
  top: 60px;
  background: transparent;
  border: none;
  visibility: visible !important;
  transform: translateX(0%);
}
.sidebar-nav .offcanvas ul li a span.item-text {
  display: none;
}
.sidebar-nav .offcanvas.show ul li a {
  font-size: 20px;
}
.sidebar-nav .offcanvas.show {
  width: 220px;
}
.sidebar-nav .offcanvas.show ul li a span.item-text {
  display: inline-block;
}
.sidebar-nav .offcanvas.show ul li a span {
  font-size: 18px;
  transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
  padding-left: 10px;
}
.sidebar-nav .modal-backdrop.show {
  opacity: .5;
  display: none;
}
