<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Les Preinscriptions">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>


        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Youcef</td>
          <td>@</td>
          <td>y1212</td>
          <td><button><i class="bi bi-capslock"></i></button></td>
          <td><button><i class="bi bi-capslock"></i></button></td>


        </tr>
        </tbody>


      </table>
    </div>




  </mat-tab>
  <mat-tab label="Les admis">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>

        </tr>
        </thead>


      </table>
    </div>




  </mat-tab>
  <mat-tab label="Les refus">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>

        </tr>
        </thead>


      </table>
    </div>




  </mat-tab>

</mat-tab-group>

