<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Les Preinscriptions">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of etuDemandes">
          <td>{{e.username}}</td>
          <td>{{e.email}}</td>
          <td>{{e.cne}}</td>
          <td><button class="btn btn-success" (click)="setAccepted(e)">Accepter</button></td>
          <td><button class="btn btn-danger" (click)="setRefused(e)"  >Refuser</button></td>


        </tr>
        </tbody>


      </table>
    </div>




  </mat-tab>
  <mat-tab label="Les admis">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of etuAcceptes">
          <td>{{e.username}}</td>
          <td>{{e.email}}</td>
          <td>{{e.cne}}</td>


        </tr>
        </tbody>


      </table>
    </div>




  </mat-tab>
  <mat-tab label="Les refus">
    <div class="container">
      <table class="table">
        <thead>
        <tr>
          <td>Username</td>
          <td>email</td>
          <td>cne</td>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of etuRefuses">
          <td>{{e.username}}</td>
          <td>{{e.email}}</td>
          <td>{{e.cne}}</td>



        </tr>
        </tbody>


      </table>
    </div>




  </mat-tab>

</mat-tab-group>
