<router-outlet></router-outlet>
<div class="container mt-5" >
  <nav class="p-2 m-2 border border-info">
    <button class="btn btn-outline-info" (click)="gotoprof()">Professeurs</button>
    <button class="btn btn-outline-info" (click)="gotostu()">Etudiants</button>
    <button class="btn btn-outline-info" (click)="gotoad()">Admins</button>
  </nav>
  <div class="card" >
    <div class="card-header">Users List  </div>
    <div class="card-body">

      <table class="table">
        <thead>
        <tr>
          <td>User</td>
          <td>Card</td>


        </tr>
        </thead>
        <tbody >
        <tr >
          <td>Admins</td>
          <td>{{this.admi}}</td>
        </tr>
        <tr >
          <td>Etudiants</td>
          <td>{{this.etd}}</td>
        </tr>
        <tr >
          <td>Professeurs</td>
          <td>{{this.prof}}</td>
        </tr>


        </tbody>



      </table>
    </div>


  </div>
</div>


<app-footer></app-footer>


