<div class="container m-3">
<nav class="navbar bg-light m-auto  border-dark">
  <div class="start-0">

  <label class="mat-optgroup-label text-danger ">Année universitaire :</label>

   <span><button class="btn btn-warning" >{{lastpromo.anneeUniv}} </button></span>
  </div>
  <div class="start-50">


    <li class="nav-item dropdown">
      <a   class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Promotions
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let p of promotions"><a class="dropdown-item" [routerLink]="['detailpromo/'+p.id]">{{p.anneeUniv}} </a></li>

      </ul>
    </li>

  </div>
  <div class="end-0">
      <button class="btn btn-success">Créer Promotion </button>
  </div>
</nav>
</div>
<router-outlet> </router-outlet>
