<router-outlet></router-outlet>
<div class="container mt-5" >
  <nav class="p-2 m-2 border border-info">
    <button class="btn btn-outline-info" (click)="handleNewFiliere()">New Filiere</button>
  </nav>
  <div class="card" >
    <div class="card-header">Filieres List  </div>
    <div class="card-body">
      <form [formGroup]="chercher" (ngSubmit)="handlechercherFiliere()">
        <div class="input-group">
          <label class="input-group-text">Keyword:</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>

      </form>
      <table class="table">
        <thead>
        <tr>
          <td>id</td>
          <td>titre</td>
          <td>Chef de Filiere</td>
          <td>Type Diplome</td>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let c of filieres ">
          <td  >{{c.id}}</td>
          <td >{{c.titre}}</td>
          <td *ngIf="c.chefFiliere">{{c.chefFiliere.username}} </td>
          <td *ngIf="c.chefFiliere ==null">pas de chef </td>
          <td *ngIf="c.diplome">{{c.diplome.typeDiplome}}</td>
          <td *ngIf="c.diplome==null">null</td>
          <td >
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button   (click)="handleDeleteFiliere(c)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
              <button   (click)="handleEditFiliere(c)" class="btn btn-success">
                <i class="bi bi-wrench-adjustable"></i>
              </button>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-warning" (click)="handleConsulter(c)">Consulter</button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li>
          <a (click)="gotoprevious()" class="btn btn-info"> Previous</a>
        </li>
        <li *ngFor="let p of pages ;let i=index">
          <a (click)="gotopage(i)" [ngClass]="i==currentPage? 'btn btn-success':'btn btn-outline-success'"> {{i+1}}</a>
        </li>
        <li>
          <a (click)="gotonext()" class="btn btn-info"> Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<app-footer></app-footer>


