<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img
        src="https://w7.pngwing.com/pngs/826/933/png-transparent-learning-management-system-education-lms-thumbnail.png"
        height="34"
        >

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="   nav-link active  " aria-current="page" routerLink="/admin /home"  >Home</a>
          </li>

          <li class="nav-item dropdown">
            <a   class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/admin/user">Gestion des utilisateurs </a></li>
              <li><a class="dropdown-item" routerLink="/admin/classe">Gestion des classes</a></li>
              <li><a class="dropdown-item" routerLink="/admin/filiere">Gestion des filieres</a></li>
              <li><a class="dropdown-item" routerLink="/admin/Diplome">Gestion des Diplome</a></li>
              <li><a class="dropdown-item" href="#">Gestion de contenu</a></li>
              <li><a class="dropdown-item" href="#">Gestion de l’évaluation</a></li>
            </ul>
          </li>





        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link">
                   Bonjour ! {{auths.authenticatedUser?.username}}
                </a>
            </li>
            <li>
                <span class="btn nav-link" (click)="handlelogout()">
                    <i class="bi bi-box-arrow-right"></i>
                </span>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
