.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
#header:hover{
  background-color: #d9edf7;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
