<div class="container mt-5">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" >
    <mat-tab label="Flux">
      <div class="card" *ngIf="afficher==false">
        <div class="card-body" (click)="handleAfficher()">
          <mat-card> Cliquer pour annoncez quelque chose à votre classe</mat-card>
        </div>
      </div>
      <div class="card m-5"  *ngIf="afficher">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div [froalaEditor] [(froalaModel)]="editorContent"></div>
      </div>
        <div class="card-footer text-center">
          <button class="btn btn-danger" (click)="handleAfficher()"> Annuler</button>
          <button type="submit"class="btn btn-info" (click)="publier()">Submit</button>
        </div>
      </div>
        <div *ngIf="annonces.length!=0">
        <div class="card m-5" *ngFor="let a of annonces" >
          <div class="card-header"> Annonce :</div>
          <div class="card-body">
            <div [froalaView]="a"> </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Traveaux & devoirs">
      <div class="container-md text-center " >
        <button *ngIf="this.isTeacher()" mat-raised-button color="primary" class="mt-5 mb-2 " data-bs-toggle="modal" data-bs-target="#addTheme" aria-label="Example icon button with a delete icon">
          + Creer Theme
        </button>
        <mat-divider class="mt-2"></mat-divider>
      </div>
      <div *ngIf="Themes">
        <div *ngFor="let t of Themes" class="mt-3 " style="margin-right: 5%;margin-left: 5%">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-10" style="font-size: large">
                  {{t.titre}}
                </div>
                <div class="col-md-2" style="text-align: right" >
                  <button *ngIf="this.isTeacher()" class="btn btn-light " [matMenuTriggerFor]="menu" style="text-align: right" ><i class="bi bi-plus-circle"></i></button>
                  <mat-menu #menu="matMenu" >
                    <button mat-menu-item (click)="handleIdAxe(t.id)" data-bs-toggle="modal" data-bs-target="#addAxe">
                      <mat-icon>add_box</mat-icon>
                      <span>new Axe</span>
                    </button>
                    <button mat-menu-item  data-bs-toggle="modal" (click)="handleIdAxe(t.id)"data-bs-target="#addRessource">
                      <mat-icon>voicemail</mat-icon>
                      <span>new Ressource</span>
                    </button>
                  </mat-menu>
                  <button *ngIf="this.isTeacher()" class="btn btn-light"[matMenuTriggerFor]="belowMenu" ><i class="bi bi-three-dots-vertical"></i></button>
                  <mat-menu #belowMenu="matMenu" >
                    <button mat-menu-item  (click)="handleDeleteAxe(t.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Supprimer</span>
                    </button>
                    <button mat-menu-item data-bs-toggle="modal" data-bs-target="#editTheme" (click)="getoldTheme(t)"  >
                      <mat-icon>edit</mat-icon>
                      <span>Modifier</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table *ngIf="t.ressources" class="table">
                <thead>
                <tr>
                  <th colspan="10">Ressources</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let r of t.ressources">
                  <td colspan="4"><a href="{{ r.url }}">{{ r.name }}</a></td>
                  <td>
                    <button  *ngIf="this.isTeacher()" class="btn btn-danger" (click)="handelDeleteRessource(r.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div *ngIf="t.subAxes.length !=0">
                <mat-accordion *ngFor="let a of t.subAxes " class="example-headers-align ">
                  <mat-expansion-panel  hideToggle class="mt-2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{a.titre}}
                      </mat-panel-title>
                      <mat-panel-description>
                      </mat-panel-description>
                      <div class="col-md-2" style="text-align: right" >
                        <button *ngIf="this.isTeacher()" class="btn btn-light " [matMenuTriggerFor]="menu" style="text-align: right" ><i class="bi bi-plus-circle"></i></button>
                        <mat-menu #menu="matMenu" >
                          <button mat-menu-item (click)="handleIdAxe(a.id)" data-bs-toggle="modal" data-bs-target="#addAxe">
                            <mat-icon>add_box</mat-icon>
                            <span>new Axe</span>
                          </button>
                          <button mat-menu-item  data-bs-toggle="modal" (click)="handleIdAxe(a.id)"data-bs-target="#addRessource">
                            <mat-icon>voicemail</mat-icon>
                            <span>new Ressource</span>
                          </button>
                          <button mat-menu-item  data-bs-toggle="modal" (click)="handleIdAxe(a.id)"data-bs-target="#addContent">
                            <mat-icon>voicemail</mat-icon>
                            <span>new Content</span>
                          </button>
                        </mat-menu>
                        <button *ngIf="this.isTeacher()" class="btn btn-light"[matMenuTriggerFor]="belowMenu" ><i class="bi bi-three-dots-vertical"></i></button>
                        <mat-menu #belowMenu="matMenu" >
                          <button mat-menu-item  >
                            <mat-icon>delete</mat-icon>
                            <span>Supprimer</span>
                          </button>
                          <button mat-menu-item data-bs-toggle="modal" data-bs-target="#editTheme" (click)="getoldTheme(t)"  >
                            <mat-icon>edit</mat-icon>
                            <span>Modifier</span>
                          </button>
                        </mat-menu>
                      </div>
                    </mat-expansion-panel-header>
                      <table *ngIf="a.ressources" class="table">
                        <thead>
                        <tr>
                          <th colspan="10">Ressources</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  *ngFor="let b of a.ressources">
                          <td colspan="4"><a href="{{ b.url }}">{{ b.name }}</a></td>
                          <td>
                            <button  *ngIf="this.isTeacher()" class="btn btn-danger" (click)="handelDeleteRessource(b.id)">
                              <i class="bi bi-trash"></i>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    <table *ngIf="a.contentHtml" class="table">
                      <thead>
                      <tr>
                        <th colspan="10">Content</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr >
                        <td colspan="4"> <div [froalaView]="a.contentHtml"> </div></td>
                      </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <mat-card *ngIf="t.subAxes.length==0">Les élèves ne peuvent pas voir ce sujet pour l'instant, car il n'y a pas de devoir correspondant</mat-card>
            </div>
            </div>
          </div>
      </div>
    </mat-tab>
    <mat-tab label="Personnes">
      <div class="container mt-3">
        <table class="table">
          <thead>
          <tr>
              <td rowspan="3"><h1>Enseignants</h1></td></tr>
          </thead>
          <tbody >
              <tr>
                 <td ><h2> {{this.prof.username}}</h2></td>
               </tr>
          </tbody>
        </table>
      </div>
      <div class="container mt-3">
        <table class="table">
          <thead>
          <tr>
            <td rowspan="3"><h1>Elèves</h1></td></tr>
          </thead>
          <tbody >
          <tr *ngFor="let e of etudaints">
            <td ><span class="text-capitalize text-secondary"> {{e.username}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="notes"> Content 3 </mat-tab>
  </mat-tab-group>
<!-- Modal for update a element -->
<div class="modal fade" id="addTheme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <form [formGroup]="addThemeForm" (ngSubmit)="handleaddTheme()">
            <div class="mb-3">
              <label class="form-label">titre de Theme:</label>
              <input type="text" formControlName="titre" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" type="submit" class="btn btn-primary text-center">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for update a element -->
<div class="modal fade" id="addAxe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <form [formGroup]="addThemeForm" (ngSubmit)="handleAddAxe()">
            <div class="mb-3">
              <label class="form-label">titre d'axe:</label>
              <input type="text" formControlName="titre" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" type="submit" class="btn btn-primary text-center">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="addRessource" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <label class="btn btn-default p-0">
                <input type="file" (change)="selectFile($event)" />
              </label>
            </div>
            <div class="offset-8 col-2">
              <button button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                close
              </button>
            </div>
            <div class="col-2">
              <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                Upload
              </button>
            </div>
          </div>
          <div *ngIf="currentFile" class="progress my-3">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
          <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
          <div class="card mt-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal for update a Theme -->
  <div class="modal fade" id="editTheme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <form [formGroup]="editTheme" (ngSubmit)="handleeditTheme()">
              <div class="mb-3">
                <label class="form-label">titre de Theme:</label>
                <input type="text" formControlName="titre" class="form-control">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" type="submit" class="btn btn-primary text-center">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal for add a content -->
  <div class="modal fade" id="addContent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="card m-5"  >
            <div class="card-header">html content
            </div>
            <div class="card-body">
              <div [froalaEditor] [(froalaModel)]="editorContent"></div>
            </div>
            <div class="card-footer text-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit"class="btn btn-info" (click)="addContent(editorContent)">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
