<div class="container"  style="margin-bottom: 20px;">
        <div class="card">
        <div class="card-header"> Modules</div>
        <div class="container">

            <h3>  </h3>

            <div class="row">

              <div class="col-sm-4">

                <div class="card">

                <img class="card-img-top " src="..\assets\images\java.jpg" alt="the image alt text here" >

                  <div class="card-body text-center">

                    <h5 class="card-title">UML & JAVA</h5>

                    <p class="card-text text-left">Par : NAJI Abdelwahab </p>

                    <a href="#" class="btn btn-warning">Consulter</a>

                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card">

                <img class="card-img-top " src="..\assets\images\data.png" alt="the image alt text here">

                  <div class="card-body text-center">

                    <h5 class="card-title">Analyse de donneés</h5>

                    <p class="card-text text-left">Par : NAJI Abdelwahab</p>

                    <a href="#" class="btn btn-warning">Consulter</a>

                  </div>

                </div>

              </div>

              <div class="col-sm-4">

                <div class="card">



                  <div class="card-body text-center">
                    <img class="card-img-top" src="..\assets\images\base.png" alt="the image alt text here" >
                    <h5 class="card-title text-center">Base de donneés</h5>

                    <p class="card-text text-left">Par : Madani Mohamed </p>

                    <a href="#" class="btn btn-warning text-right">Consulter</a>

                  </div>

                </div>

              </div>

            </div>

            </div>

      </div></div>
      <div class="card" >

        <div class="container">

            <h3>   </h3>

            <div class="row">



              <div class="col-sm-6">

                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="btn btn-warning text-right" > Emplois Temps</a> </h5>

                    <img class=" rounded-circle" src="https://fsth.ma/apps/eservices/resources/images/emploitemps.png" alt="Emplois de temps" width="200px" height="200px">


                  </div>

                </div>

              </div>

              <div class="col-sm-6">

                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title"><a href="#" class="btn btn-warning text-right" > Emplois Temps</a> </h5>

                    <img class=" rounded-circle" src="https://fsth.ma/apps/eservices/resources/images/emploitemps.png" alt="Emplois de temps" width="200px" height="200px">


                  </div>

                </div>

              </div>

            </div>

            </div>

      </div>



<app-footer></app-footer>
