<div class="container">

  <div class="card  m-3">
    <div class="card-header text-center">Filiére de résponsabilité</div>
    <div class="card-body"> Filiere: {{this.filiere.titre}}</div>
    <div class="card-footer text-center"><button class="btn btn-warning" (click)="handleConsulterFiliere(this.filiere.id)">Consulter</button></div>
  </div>
  <div class="card text-center m-3">
    <div class="card-header  ">Modules Ensegnée</div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card " >
            <div class="card-header">Java</div>
            <div class="card-body">info</div>
            <div class="card-footer"> <button class="btn btn-warning">Consulter</button></div>
          </div>
        </div>
        <div class="col">
          <div class="card " >
            <div class="card-header">Java</div>
            <div class="card-body">info</div>
            <div class="card-footer"> <button class="btn btn-warning">Consulter</button></div>
          </div>
        </div>
        <div class="col">
          <div class="card " >
            <div class="card-header">Java</div>
            <div class="card-body">info</div>
            <div class="card-footer"> <button class="btn btn-warning">Consulter</button></div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
