<div class="container p-3">
<div class="card text-center">
  <div class="card-header "> Filiére: {{this.filiere.titre}}</div>
  <div class="card-body">

    <div>
      <label>Chef de filiere :<span class="text-info" *ngIf="this.filiere.chefFiliere!=null" >{{this.filiere.chefFiliere.username }}</span>
        <span class="text-info" *ngIf="this.filiere.chefFiliere==null" >Pas de chef</span>
      </label>

    </div>



    <table class="table">

      <thead>
      <tr>
        <th>Niveau </th>
        <th>Etudiants</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let n of this.filiere.niveaux" >
        <th>{{n.titre}} </th>
        <th><button class="btn btn-warning" (click)="gotoEtudiant(n.titre)">Aller</button></th>
      </tr>

      </tbody>
    </table>
  </div>

</div>
</div>



