<div class="container">

  <div class="card  m-3">
    <div class="card-header text-center">Filiére de résponsabilité</div>
    <div class="card-body">
      <div class="row align-content-between">
        <div class="col"><label> Filiere:</label> {{this.filiere.titre}}</div>

        <div class="col">
         <label> Promotion :</label>
          <select class="mat-select" [(ngModel)]="promo" >
            <option >--Please choose an Promotion--</option>
            <option *ngFor="let p of promotions" [value]="p.id"   > {{p.anneeUniv}}</option>

          </select>
        </div>

        <div class="col end-100"> <button class="btn btn-info " (click)="handleAddPromotion()">Ajouter Promotion</button> </div>

    </div>

    </div>
    <div class="card-footer text-center"><button [disabled]="promo==null"  class="btn btn-warning" (click)="handleConsulterPromo(promo)">Consulter</button></div>
  </div>
  <div class="card text-center m-3">
    <div class="card-header  ">Modules Ensegnée</div>
    <div class="card-body">
      <div class="row">

        <div *ngFor="let m of modules" class="col">
          <div class="card " >
            <div class="card-header">{{m.titre}}</div>
            <div class="card-body">info</div>
            <div class="card-footer"> <button class="btn btn-warning">Consulter</button></div>
          </div>
        </div>
    </div>

  </div>

  </div>
</div>
