<div class="container p-5 mt-5 col-md-6 offset-md-3  border border-info">
  <form [formGroup]="etudiantForm" (ngSubmit)="handleUpdateetudiant()">

    <div class="mb-3">
      <label class="form-label"> username:</label>
      <input type="text" formControlName="username" class="form-control">
      <small *ngIf="etudiantForm.controls['username'].errors && etudiantForm.controls['username'].touched" class="text-danger">
        {{this.cs.getErrorMessage('username',etudiantForm.controls['username'].errors)}}
      </small>
    </div>
    <div class="mb-3">
      <label class="form-label">email:</label>
      <input type="email" formControlName="email" class="form-control">
      <small *ngIf="etudiantForm.controls['email'].errors && etudiantForm.controls['email'].touched" class="text-danger">
        {{this.cs.getErrorMessage('email',etudiantForm.controls['email'].errors)}}
      </small>
    </div>
    <div class="mb-3">
      <label class="form-label"> password:</label>
      <input type="password" formControlName="password" class="form-control">
      <small *ngIf="etudiantForm.controls['password'].errors && etudiantForm.controls['password'].touched" class="text-danger">
        {{this.cs.getErrorMessage('password',etudiantForm.controls['password'].errors)}}
      </small>
    </div>


    <div class="mb-3" >
      <label class="form-label"> Cne:</label>
      <input type="text" formControlName="cne" class="form-control">

    </div>


    <div  class="text-center">
      <button [disabled]=" etudiantForm.invalid" style="margin-right: 20px"  class="btn btn-success text-center "  type="submit">Save</button>

      <button  class="btn btn-success text-center " (click)="annuler()" >Annuler</button>
    </div>
  </form>

</div>

